## Question 1 Answer

In [84]:
import pandas as pd
import numpy as np
df = pd.read_csv('customer_policy_details.csv')
df.columns = ['customer_id','annual premium(in Rs)','sales channel code','vintage','response']
#csvFile.columns = ['number','customer_id','annual premium(in Rs)','sales channel code','vintage and response']

print(df)

        customer_id  annual premium(in Rs)  sales channel code  vintage  \
0               1.0                40454.0                26.0    217.0
1               2.0                33536.0                26.0    183.0
2               3.0                38294.0                26.0     27.0
3               4.0                28619.0               152.0    203.0
4               5.0                27496.0               152.0     39.0
...             ...                    ...                 ...      ...
381104     381105.0                30170.0                26.0     88.0
381105     381106.0                40016.0               152.0    131.0
381106     381107.0                35118.0               160.0    161.0
381107     381108.0                44617.0               124.0     74.0
381108     381109.0                41777.0                26.0    237.0

        response
0            1.0
1            0.0
2            1.0
3            0.0
4            0.0
...          ...
381104       0.0
381105       0.0
381106       0.0
381107       0.0
381108       0.0

[381109 rows x 5 columns]

In [85]:
csvFile1 = pd.read_csv('customer_details.csv')
csvFile1.columns = ['customer_id','Gender','age','driving licence present','region code','previously insured','vehicle age','vehicle damage']
print(csvFile1)

        customer_id  Gender   age  driving licence present  region code  \
0               1.0    Male  44.0                      1.0         28.0
1               2.0    Male  76.0                      1.0          3.0
2               3.0    Male  47.0                      1.0         28.0
3               4.0    Male  21.0                      1.0         11.0
4               5.0  Female  29.0                      1.0         41.0
...             ...     ...   ...                      ...          ...
381104     381105.0    Male  74.0                      1.0         26.0
381105     381106.0    Male  30.0                      1.0         37.0
381106     381107.0    Male  21.0                      1.0         30.0
381107     381108.0  Female  68.0                      1.0         14.0
381108     381109.0    Male  46.0                      1.0         29.0

        previously insured vehicle age vehicle damage
0                      0.0   > 2 Years            Yes
1                      0.0    1-2 Year             No
2                      0.0   > 2 Years            Yes
3                      1.0    < 1 Year             No
4                      1.0    < 1 Year             No
...                    ...         ...            ...
381104                 1.0    1-2 Year             No
381105                 1.0    < 1 Year             No
381106                 1.0    < 1 Year             No
381107                 0.0   > 2 Years            Yes
381108                 0.0    1-2 Year             No

[381109 rows x 8 columns]

## Question 2 Answer

In [67]:

print(csvFile1['customer_id'].dropna().count())

print('Total NO of Null values in the customer details is:',csvFile1.isnull().sum())
print('')

#print('No of Null values in column 0 is ',csvFile1['sr no'].isnull().sum().sum())
print('No of Null values in customer_id is ',csvFile1['customer_id'].isnull().sum().sum())
print('')
print('No of Null values in Gender before replacing with mode of values is ',csvFile1['Gender'].isnull().sum())
csvFile1['Gender'].fillna(csvFile1['Gender'].mode()[0] , inplace=True)
print('No of Null values in Gender After replacing with mode of values is ',csvFile1['Gender'].isnull().sum())
print('')
print('No of Null values in Age before replacing with mean of values is ',csvFile1['age'].isnull().sum())
csvFile1['age'].fillna(csvFile1['age'].mean() , inplace=True)
print('No of Null values in Age before replacing with mean of values is ',csvFile1['age'].isnull().sum())
print('')
print('No of Null values in driving licence present After replacing with mean of values is ',csvFile1['driving licence present'].isnull().sum())
csvFile1['driving licence present'].fillna(csvFile1['driving licence present'].mean() , inplace=True)
print('No of Null values in driving licence present After replacing with mean of values is ',csvFile1['driving licence present'].isnull().sum())
print('')
print('No of Null values in region code Before replacing with mean of values is ',csvFile1['region code'].isnull().sum())
csvFile1['region code'].fillna(csvFile1['region code'].mean() , inplace=True)
print('No of Null values in region code After replacing wwith mean of values is ',csvFile1['region code'].isnull().sum())
print('')
print('No of Null values in previously issured Before replacing with mean of values is ',csvFile1['previously insured'].isnull().sum())
csvFile1['previously insured'].fillna(csvFile1['previously insured'].mean() , inplace=True)
print('No of Null values in previously insured After replacing with mean of values is ',csvFile1['region code'].isnull().sum())
print('')
print('No of Null values in vehicle age Before replacing with mode of values is ',csvFile1['vehicle age'].isnull().sum())
csvFile1['vehicle age'].fillna(csvFile1['vehicle age'].mode()[0] , inplace=True)
print('No of Null values in vehicle age After replacing with mode of values is ',csvFile1['vehicle age'].isnull().sum())
print('')
print('No of Null values in vehicle damage Before replacing with mode of values is ',csvFile1['vehicle damage'].isnull().sum())
csvFile1['vehicle damage'].fillna(csvFile1['vehicle damage'].mode()[0] , inplace=True)
print('No of Null values in vehicle damage After replacing with mode of values is ',csvFile1['vehicle damage'].isnull().sum())
print('')

380723
Total NO of Null values in the customer details is: customer_id                386
Gender                     368
age                        368
driving licence present    393
region code                392
previously insured         381
vehicle age                381
vehicle damage             407
dtype: int64

No of Null values in customer_id is  386

No of Null values in Gender before replacing with mode of values is  368
No of Null values in Gender After replacing with mode of values is  0

No of Null values in Age before replacing with mean of values is  368
No of Null values in Age before replacing with mean of values is  0

No of Null values in driving licence present After replacing with mean of values is  393
No of Null values in driving licence present After replacing with mean of values is  0

No of Null values in region code Before replacing with mean of values is  392
No of Null values in region code After replacing wwith mean of values is  0

No of Null values in previously issured Before replacing with mean of values is  381
No of Null values in previously insured After replacing with mean of values is  0

No of Null values in vehicle age Before replacing with mode of values is  381
No of Null values in vehicle age After replacing with mode of values is  0

No of Null values in vehicle damage Before replacing with mode of values is  407
No of Null values in vehicle damage After replacing with mode of values is  0

In [68]:
print(df['customer_id'].dropna().count())

print('Total NO of Null values in the customer details is:',df['customer_id'].isnull().sum())
print('')
print('No of Null values in annual premium(in Rs) Before replacing with mean of values is ',df['annual premium(in Rs)'].isnull().sum())
df['annual premium(in Rs)'].fillna(df['annual premium(in Rs)'].mean() , inplace=True)
print('No of Null values in annual premium(in Rs) After replacing with mean of values is ',df['annual premium(in Rs)'].isnull().sum())
print('')
print('No of Null values in sales channel code Before replacing with mean of values is ',df['sales channel code'].isnull().sum())
df['sales channel code'].fillna(df['sales channel code'].mean() , inplace=True)
print('No of Null values in sales channel code After replacing with mean of values is ',df['sales channel code'].isnull().sum())
print('')
print('No of Null values in vintage Before replacing with mean of values is ',df['vintage'].isnull().sum())
df['vintage'].fillna(df['vintage'].mean() , inplace=True)
print('No of Null values in vintage After replacing with mean of values is ',df['vintage'].isnull().sum())
print('')
print('No of Null values in response Before replacing with mean of values is ',df['response'].isnull().sum())
df['response'].fillna(df['response'].mean() , inplace=True)
print('No of Null values in response After replacing with mean of values is ',df['response'].isnull().sum())

380722
Total NO of Null values in the customer details is: 387

No of Null values in annual premium(in Rs) Before replacing with mean of values is  346
No of Null values in annual premium(in Rs) After replacing with mean of values is  0

No of Null values in sales channel code Before replacing with mean of values is  400
No of Null values in sales channel code After replacing with mean of values is  0

No of Null values in vintage Before replacing with mean of values is  388
No of Null values in vintage After replacing with mean of values is  0

No of Null values in response Before replacing with mean of values is  361
No of Null values in response After replacing with mean of values is  0

In [69]:
Q1 = df.describe().loc['25%','annual premium(in Rs)']
Q3 = df.describe().loc['75%','annual premium(in Rs)']
IQR = Q3-Q1
print(df.loc[df['annual premium(in Rs)']<(Q1-IQR*1.5),'annual premium(in Rs)'].count())
print(df.loc[df['annual premium(in Rs)']>(Q1+IQR*1.5),'annual premium(in Rs)'].count())

0
44627

In [70]:
df.loc[df["annual premium(in Rs)"]>(Q3+IQR*1.5),"annual premium(in Rs)"]=df["annual premium(in Rs)"].mean()
print(df.loc[df["annual premium(in Rs)"]>(Q3+IQR*1.5),"annual premium(in Rs)"].count())

0

In [71]:
Q1=df.describe().loc["25%","vintage"]
Q3=df.describe().loc["75%","vintage"]
IQR=Q3-Q1
print(df.loc[df["vintage"]<(Q1-IQR*1.5),"vintage"].count())
print(df.loc[df["vintage"]>(Q3+IQR*1.5),"vintage"].count())

0
0

In [72]:
csvFile1["Gender"]=csvFile1["Gender"].str.strip()
csvFile1["vehicle age"]=csvFile1["vehicle age"].str.strip()
csvFile1["vehicle damage"]=csvFile1["vehicle damage"].str.strip()

In [81]:
gender=pd.get_dummies(csvFile1["Gender"])
vehicle_age=pd.get_dummies(csvFile1["vehicle age"])
lv_vehicle_damage=pd.get_dummies(csvFile1["vehicle damage"])
lv_d_l_p=pd.get_dummies(csvFile1["driving licence present"])
lv_p_i=pd.get_dummies(csvFile1["previously insured"])
lv_response=pd.get_dummies(df["response"])

In [82]:
print(csvFile1.duplicated().sum())
print(df.duplicated().sum())

42
0

## Question 3 Answer

In [75]:
master_df = pd.merge(csvFile1,df,on='customer_id')
master_df

,customer_id,Gender,age,driving licence present,region code,previously insured,vehicle age,vehicle damage,annual premium(in Rs),sales channel code,vintage,response
0,1.0,Male,44.0,1.0,28.0,0.0,> 2 Years,Yes,40454.0,26.0,217.0,1.0
1,2.0,Male,76.0,1.0,3.0,0.0,1-2 Year,No,33536.0,26.0,183.0,0.0
2,3.0,Male,47.0,1.0,28.0,0.0,> 2 Years,Yes,38294.0,26.0,27.0,1.0
3,4.0,Male,21.0,1.0,11.0,1.0,< 1 Year,No,28619.0,152.0,203.0,0.0
4,5.0,Female,29.0,1.0,41.0,1.0,< 1 Year,No,27496.0,152.0,39.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
529713,381105.0,Male,74.0,1.0,26.0,1.0,1-2 Year,No,30170.0,26.0,88.0,0.0
529714,381106.0,Male,30.0,1.0,37.0,1.0,< 1 Year,No,40016.0,152.0,131.0,0.0
529715,381107.0,Male,21.0,1.0,30.0,1.0,< 1 Year,No,35118.0,160.0,161.0,0.0
529716,381108.0,Female,68.0,1.0,14.0,0.0,> 2 Years,Yes,44617.0,124.0,74.0,0.0
529717,381109.0,Male,46.0,1.0,29.0,0.0,1-2 Year,No,41777.0,26.0,237.0,0.0

## Question 4 Answer

In [76]:
#Gender wise average annual premium 
gender_df=master_df.groupby(["Gender"])["annual premium(in Rs)"].sum()
gender_df1=master_df.groupby(["Gender"])["annual premium(in Rs)"].count()
g_df=gender_df/gender_df1
print('Average of')
print(g_df)

Average of
Gender
Female    29139.213600
Male      29174.756139
Name: annual premium(in Rs), dtype: float64

In [77]:

print(gender_df)

Gender
Female    7.080363e+09
Male      8.365395e+09
Name: annual premium(in Rs), dtype: float64

In [78]:
age_df=master_df.groupby(["age"])["annual premium(in Rs)"].mean()
print('Average of')
print(age_df)
#vehicle age wise average annual premium 
print('')
vehicle_age_df=master_df.groupby(["vehicle age"])["annual premium(in Rs)"].mean()
print('Average of')
print(vehicle_age_df)

Average of
age
20.0    26924.911770
21.0    29467.356953
22.0    29554.282038
23.0    29605.609511
24.0    29704.870469
            ...
81.0    29287.894657
82.0    36480.575871
83.0    28995.804558
84.0    35440.818182
85.0    26637.427298
Name: annual premium(in Rs), Length: 67, dtype: float64

Average of
vehicle age
1-2 Year     29016.074654
< 1 Year     29077.789203
> 2 Years    31784.067869
Name: annual premium(in Rs), dtype: float64

## The Data is balanced between the two genders there values are almost similar

## 5 Question Answer

In [79]:
Corr_coef=master_df["age"].corr(master_df["annual premium(in Rs)"])
print(Corr_coef)

0.03627882392885165

In [80]:
if Corr_coef < -0.5:
    print('Strong Negative Relationship')
elif Corr_coef > 0.5:
    print('Strong Postive Relationship')
else :    
    print('There is no relationship')

There is no relationship